h1{
    text-align: center;
    color: yellow;
}
body{
    background-image: url(../images/tree-of-life-seeds-hmF7w8t9wt8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}